[submodule "submodules/jz"]
	path = submodules/jz
	url = https://github.com/beryllium-org/jz
[submodule "submodules/CircuitMPY"]
	path = submodules/CircuitMPY
	url = https://github.com/beryllium-org/CircuitMPY
[submodule "submodules/CircuitPython_AXP2101"]
	path = submodules/CircuitPython_AXP2101
	url = https://github.com/CDarius/CircuitPython_AXP2101
